#social
	%span= link_to (image_tag "social/icon_grey_facebook.png", :width => "32px", :height => "32px"), "https://www.facebook.com/pages/BlackDog-Property/213389862085824"
	%span= link_to (image_tag "social/icon_grey_twitter.png", :width => "32px", :height => "32px"), "https://twitter.com/#!/blackdog_mark"
