- if collection.count == 0
	%p You haven't added any photos to your listing yet! You'll need at least one before your listing goes live.
- else
	%ul#sortable
		- collection.each do |p|
			%li{:id => "photo_#{p.position}"}
				- if p.image_processing == true
					%span.image
						= image_tag "member/processing.gif", :width => "", :height => ""
				- else
					%span.image
						= image_tag p.image.url(:thumb), :width => "98px", :height => "65px"
					

- content_for :scripts do
	:javascript
		$(function() {
			$( "#sortable" ).sortable();
			$( "#sortable" ).disableSelection();
		});		
