%h4 Property Photos

%table
	%tr
		%td
			-if controller.action_name == 'new'
				%p
					%b Save 
					this property first.
				%p
					Next,
					%b edit
					the property and a link will appear here that allows photos to be added to the property
			-else
				=	link_to "Click here to manage this properties photos", admin_property_photos_path(property_id)
