- content_for :title do
	Member Properties
	
- content_for :meta_description do
	Manage my BlackDog Property listings

- content_for :link_canonical do
	member/properties

- content_for :header do
	= render 'shared/member/dashboard/header'

.panel-container	
	-if @properties.empty?
		.no-listing
			%h3.black
				%strong This is where you will see all of your listed properties.
				%br
				==When you are ready, #{link_to "add your first property now", new_member_property_path}!
	-else
		.listing
			= render 'shared/member/dashboard/properties'
