.details
	%h3 BlackDog membership
	%p Sign up to the BlackDog Property Lastminute membership by completing this form.

	%h3 What do you get?
	%p Once you have signed up, you can begin to post and advertise your luxury properties with us!
	%p You will gain access to your own personal dashboard where you will be able to update and manage your listed properties, personal profile, notification settings and payment information.
	
	%h3 What does it cost?
	%p BlackDog charges a small administration fee to get started (£20), after which you can post as many properties as you like.
	%p We then only charge a small commission each time you rent one of your properties through us.
