%ul#steps
	%li{class: "#{controller_name == "registrations" ? "current" : ""}"}
		Step 1
		%span Account details

	%li{class: "#{controller_name == "payments" && action_name == "new" ? "current" : ""}"}
		Step 2
		%span Payment details

	%li{class: "#{controller_name == "payments" && action_name == "show" ? "current" : ""}"}
		Step 3
		%span Finish registration