%span.action_button#reorder-button= button_to "Reorder", "#"

%h3 Current Photos
      
%p You haven't added any photos to your listing yet! You'll need at least one before your listing goes live.
      
