- if resource.errors.any?
	.error_messages
		%h2{:style => "padding: 5px 10px; font-size: 14px;"} The enquiry form is incomplete, please correct the following errors:
		%ul
			- resource.errors.each do |attribute, message|
				%li= message
