- content_for :title do
	Outstanding Property Renovation, Rental, Sales & Management | BlackDog Property

- content_for :scripts do
	= render 'shared/script/welcome/gallery'

.block.site
	-if @photos
		.border
			#gallery.home.ad-gallery
				.ad-image-wrapper
				.ad-controls
				.ad-nav
					.ad-thumbs
						%ul.ad-thumb-list
							- @photos.each do |p|
								%li= link_to (image_tag p.image.url(:thumb), :title => p.title, :alt => p.description), p.image.url(:gallery)
			#descriptions
	-else
		.textual
			%h1 Latest project images to be shown here soon.
	.bottom
	
.block.site
	.textual
		%h1 BlackDog Property
		%p BlackDog locate and renovate outstanding private residences throughout Europe, working with  clients for whom quality is essential.  Our unique consulting service ensures that we fully understand your aspirations and are able to respond quickly to your specific requirements by combining creativity, and imagination, with practical professional skills and good old fashioned hard work.

		%p Our BlackDog team of dedicated professionals will ensure that they find the right properties based on your detailed criteria. They will provide outstanding expert advice on your property portfolio and project onward rental or sales potential. This will be further supported by commercial and marketing strategies to ensure a successful return.

		%p We look forward to exceeding your expectations .

		%p Welcome to BlackDog 

		%p For further information on our services please
		%p
			= link_to "Contact BlackDog", contact_path
			= ": 07540 706994"
	.bottom
