#breadcrumbs
	Quick Navigation » 
	= link_to_unless_current "All Lastminutes", lastminutes_path
	»
	= link_to_unless_current @property.country, lastminutes_search_path
	»
	= link_to_unless_current @property.title, lastminute_path