- content_for :title do
	Gallery of Rentals | BlackDog Property
	
- content_for :link_canonical do
	rentals
	
#search.rentals
	#filter
		= render 'shared/rental/search_navigation'
	#description
		%h1.underline== All Rental Properties

= render 'shared/rental/results'
