- content_for :title do
	Gallery of Rentals | BlackDog Property
	
- content_for :link_canonical do
	rentals
	
#search
	= render 'shared/location/search_navigation'
	%h1.short== All Rental Properties

#results
	- if @properties.empty?
		%h2 No rental properties found.
	- else
		- for property in @properties
			= render "shared/rental/property", :property => property
