- content_for :title do
	Gallery of Rentals | BlackDog Property
	
- content_for :link_canonical do
	rentals
	
#search
	= render 'shared/rental/search_navigation'
	%h1.short== All Rental Properties

= render 'shared/rental/results'
