- content_for :title do
	== Rentals in #{params[:country_id]} | BlackDog Property
	
- content_for :link_canonical do
	rentals

#search
	= render 'shared/location/search_navigation'
	%h1.short== Rentals in #{@country.name}

#results
	- if @properties.empty?
		%h2 No rental properties found.
	- else
		- for property in @properties
			= render "shared/rental/property", :property => property
