- content_for :title do
	About Spain | BlackDog Property

- content_for :link_canonical do
	services/about-spain
	
.title
	%h1 About Spain
	= render "shared/location/countries_navigation"
	.line

.block
	.border
		.details
			%p Spain offers a captivating landscape, sun-drenched and untamed to the south of the wild and majestic Pyrenees where this passionate nation works a mysterious magic.  

			%p Diversity is on offer within the vast stretches of coastline, emerald green mountains and acres of abundant olive groves.  Spain is dappled with culture.  The rich passion of Flamenco, the Toreros (bull fights) and a spectacular selection of culinary mouth-watering flavours bring colour and vibrancy to this eclectic country.

			%p Bordered the West by the Atlantic and the East by the Mediterranean, Spain’s glittering beaches attract holiday makers who seek the sun, surfing and golf.   A zest for life creates an intense hedonistic vibe in the effervescent cities and if there is one thing which Spanish love it is to eat, drink and party!

	.bottom