- content_for :title do
	About Portugal | BlackDog Property

- content_for :link_canonical do
	services/about-portugal
	
.title
	%h1 About Portugal
	= render "shared/location/countries_navigation"
	.line

.block
	.border
		.details
			%p Looking for romance, discovering culture, living adventure, relaxing? Indulge yourself in Portugal.

			%p Portugal has something for everyone.  It is a country renowned for its’ famous golf courses and a haven for the sports minded holiday maker.

			%p Portugal has plenty of museums, stunning architecture and acres of stunning countryside, as well as the magical town of Sintra with its hilltop fairy tale palace and ancient castle. It is easy to overlook the beautiful historic cities and rich cultural centre of Lisbon.

			%p Portugal is host to long open shores and beaches reaching out to crystal deep blue waters and offset by dramatic cliff-top backdrops and landscapes where you can explore and soak up the sun.

	.bottom