- content_for :title do
	About France | BlackDog Property

- content_for :link_canonical do
	services/about-france
	
.title
	%h1 About France
	.line

.block
	.border
		.details
			%p France is one of the prominent countries of the European Union and still attracts so much interest from foreign residents looking to relocate overseas. The country is truly unique this has an amazing variety of climates, sun, sea and snow. It is steeped in history and its architecture is both classical and chic.

			%p France is one of the true metropolitan countries of the world, as it integrates into its own a variety of different cultures over the centuries, which has in the past resulted in a number of internal disputes. The country is heavily infused with certain elements of religion and culture prevalent in different areas.

			%p The country is well known for its love of the arts and architecture and has a long and great history, taking in revolutions, wars and major changes in the way that the country is run, full, vibrant and headstrong. Its freedom of speech has attracted a number of outspoken and controversial figures to lead its political governance and has placed all areas of society under discussion.

			%p The housing market in France has historically been a lot steadier than for example the UK market (and many other European partners). A large number of European residents relocating to France where property prices are on average substantially lower.

			%p However, there is a large difference in pricing, depending on location, with older housing less expensive than new builds (this is a market which has attracted UK buyers, who tend to look for history and character for their properties).

	.bottom