- content_for :title do
	About Italy | BlackDog Property

- content_for :link_canonical do
	services/about-italy
	
.title
	%h1 About Italy
	.line

.block
	.border
		.details
			%p Italy is located in Southern Europe on the Italian Peninsula and it’s bordered by the Mediterranean Sea, which hosts two Italian Islands: Sardinia and Sicily, each corner of this beautiful country will take you back to ancient times to Romeo and Juliet the Roman empire, amphitheatres, the leaning tower of Pisa and more.

			%p Florence and its artistic productions and fashion, Rome, the capital city known as the eternal city, Venice, the romantic city built under water, Verona, an imposing city setting of the drama "Romeo and Juliet" and Milan, the most fashionable city in Italy.

			%p Nature has a special place in every trip to Italy; the amazing panoramic natural resources and landscapes such as: The Alps in the North, The Bay of Naples and Mt. Vesuvius are some of the most famous views.

			%p A trip to Italy is not only about culture, art, history, paintings and museums but about the exclusive restaurants, pizzerias, cafes and a vibrant and passionate nightlife – whatever your age.

	.bottom