- content_for :title do
	BlackDog Accreditation | BlackDog Property

- content_for :link_canonical do
	services/blackdog-accreditation
	
.title
	%h1 BlackDog Accreditation
	.line

.block.site
	.border
		.image= image_tag "services/image_paw_of_approval.jpg", :height => "96px", :width => "97px"
		.details
			%p BlackDog Accreditation is one of the highest recommendations available for luxury properties.  We can assure our clients of unrivalled and uncompromised attention to detail in a luxury environment.  Our esteemed internal grading criteria must be met in order for a property to be awarded a BlackDog accreditation.

	.bottom