- content_for :title do
	Client Management | BlackDog Property

- content_for :link_canonical do
	services/client-management
	
- content_for :h1 do
	Client Management

- content_for :image do
	.image= image_tag "services/profile_ted.jpg", :height => "100px", :width => "90px"


%p Our most unique offering is the relationship we create between BlackDog and our clients, recognising the need to work closely and manage their expectations as the project unfolds.   We limit the number of properties we can service at any one time, in order to provide a truly exceptional service and attention to detail for our customers.  We are very focussed on delivery and operate within a structured frame-work  to achieve and exceed expectations.  Continuous improvement is an important factor in our success and due to our ethos for quality and delivery to schedule, we build and gain trust with our clients, often discovering they become BlackDog friends and stay with us through to other properties and future investments.
