- content_for :title do
	Frequently Asked Questions | BlackDog Property

- content_for :link_canonical do
	faqs

.title
	%h1 Frequently Asked Questions
	.line

.block
	.border
		.details
			%p There are many questions relating to properties abroad. We have tried to cover the most frequently asked questions, however, please contact us with any specific enquiry relating to your property search.

			%p.question What makes BlackDog different to other Property Companies?
			%p.answer BlackDog uphold their mission to offer our clients a truly individual service .  . . etc

			%p.question Why is a BlackDog Accredited rental villa considered exceptional to other holiday villas?
			%p.answer BlackDog Accreditation assures our clients of the finest and most luxurious furnishings. . . . etc
			
	.bottom