- content_for :title do
	Investment and Development | BlackDog Property

- content_for :link_canonical do
	services/investment-development
	
.title
	%h1 Investment and Development
	.line

.block.site
	.border
		.image= image_tag "services/image_wine_glass.jpg", :height => "171px", :width => "150px"
		.details
			%p Investing in property can be very lucrative, however finding the right investment opportunity in a foreign country poses certain challenges, challenges with which we at BlackDog understand.

			%p Due to Mark’s impressive history as a surveyor and commercial analyst, BlackDog will fully explain the development potential and expected returns. We have developed a methodology and approach to investment decisions which yields positive returns. The level of return in some cases is proportionate to the investment made and we will advise on where best to make improvements to maximise the reward. Regardless of the investment, we will review and provide a full report with a realistic return projection and how this can be enhanced with proper strategic investment.

			%p Whatever your property type we will give you the insight and a strategy to further enhance your investment.

	.bottom