- content_for :title do
	Maintenance Services | BlackDog Property

- content_for :link_canonical do
	services/maintenance
	
- content_for :h1 do
	Maintenance Services

- content_for :image do
	.image= image_tag "services/image_maintenance.jpg", :height => "147px", :width => "200px"
		

%p It is vital to keep your property maintained throughout the year.  The grounds, the pool, the windows, all need to be kept clean and tidy for guests or potential buyers. 

%p There can be issues arising when guests are on the property which require the immediate action of local trades people and this can be a real concern to property owners.  BlackDog offer a full range of property maintenance capability with only experienced and trustworthy personnel who operate under our banner and as such with style and integrity. 

%p We are able to respond quickly to your needs and give you peace of mind that any issues are dealt with efficiently. We also offer the maintenance of your property to ensure that throughout the year all aspects of the property are maintained.
