- content_for :title do
	Marketing | BlackDog Property

- content_for :link_canonical do
	services/marketing
	
.title
	%h1 Marketing
	.line

.block.site
	.border
		.image= image_tag "services/logo_blackdog.jpg", :height => "163px", :width => "150px"
		.details
			%p BlackDog's unique Marketing Management provides a creative edge to the business, by offering our clients opportunities to promote their property and therefore increase their return, in ways which may not have been previously explored (or considered). 

			%p BlackDog are passionate about success and ensuring our clients get the maximum publicity. We will work with you individually to discuss ways to elevate the exposure of your property.

			%p We have a wide network of global contacts who are looking for a certain type of experience based on a luxurious environment, whether rustic or contemporary.

	.bottom