- content_for :title do
	Private Jet | BlackDog Property

- content_for :link_canonical do
	services/private-jet
	
.title
	%h1 Private Jet
	.line

.block
	.border
		.image= image_tag "services/image_jet.jpg", :height => "80px", :width => "120px"
		.details
			%p Time is precious and after a long working week the desire to head over for some calm relaxation in a stunning property is more than tempting.  However, airline timetables or commuting from mainstream terminals can often make this dream an unpleasant reality.

			%p For some of our more discerning clients we offer a private jet service which runs an exclusive shuttle to your chosen destination.   However, recognising the budgetary restraints we offer a 12 seater plane which runs every Friday to Nice and returns before Breakfast on Monday. 

			%p Nice is our most popular destination and where BlackDog was launched, our properties in the Cote D’Azur are amongst the finest we own.  Guests are able to share the Private Jet and thus take advantage of a discounted rate.  

			%p Luggage restrictions apply. 

	.bottom