%h1 PRIVACY STATEMENT 

%h2 DISCLAIMER

%p All content on this website is the property of BLACKDOG PROPERTY

%p You may not duplicate, redistribute or resell it without the prior written consent of BLACKDOG PROPERTY

%p The content is provided "as is". BLACKDOG PROPERTY makes all reasonable efforts to ensure that the content is complete and up to date, yet it does not make any warranty whatsoever as to the accuracy or completeness of the content. BLACKDOG PROPERTY will not be responsible for any claims attributable to errors, omissions, or other inaccuracies in the information contained in the website. In no event will BLACKDOG PROPERTY be liable for direct, indirect, special, incidental, or consequential damages arising out of the use of or inability to use the content or for any loss or damage of any nature caused to any person as a result of that use. You, the user, assume the entire risk for the results and performance of the content.

%p BLACKDOG PROPERTY reserves the right at any time to amend, alter or delete the information provided on this website.

%h2 PRIVACY POLICY

%p Privacy is of great concern to most users of the Internet, and is a critical part of an enjoyable and satisfactory user experience. We at BLACKDOG PROPERTY are sensitive to the privacy concerns of the visitors to our website. We assure you that we do not collect personal information from you unless you provide it to us (for example through the booking process, via email or by using our online feedback form). You should also be assured that we do not provide or sell information about our customers or site visitors to anyone.

%p We consider the protection of all personally identifiable information we receive from our visitors and customers as critical to our mission. Please be assured that we have security measures in place to protect against the loss and misuse of any information we receive from you. As with any transmission over the Internet, however, there is always some element of risk involved in sending personal information. In order to try to minimize this risk, we may encrypt information that you submit in ordering of our premium products using the Secure Sockets Layer (SSL) protocol.

%p Please note that our website contain links to other sites. BLACKDOG PROPERTY is not responsible for the privacy practices, privacy statements, or content regarding these other sites. 

