- content_for :title do
	Project Management | BlackDog Property

- content_for :link_canonical do
	property-management
	
.title
	%h1 Property Management
	.line

.block
	.border
		.details
			%p Both Mark and his team come from senior management positions within the corporate world and as such bring a wealth of skills to the BlackDog business.

			%p They recognise the importance of implementing property management strategies and as such are able to offer a wide range of commercial scenarios to enhance your investment, whether as a home or a business.

		.enquiry
			%h3= link_to "Make an enquiry about BlackDog Management & Services", contact_path

	.bottom