- content_for :title do
	Security Services | BlackDog Property

- content_for :link_canonical do
	services/security
	
.title
	%h1 Security Services
	.line

.block.site
	.border
		.image= image_tag "services/image_security.jpg", :height => "130px", :width => "87px"
		.details
			%p Your most important asset is your home and its protection is vital.  When living away from the property it becomes even more important to ensure that the property is protected. 

			%p BlackDog have a team of highly trained UK personnel on hand to provide an exceptional level of security.  We can advise on security alarms and installation, we can arrange for the property to be manned during quiet periods, we even have a house sitting service and we can offer a drive past service to ensure that everything is in order.

			%p Whatever your security needs, BlackDog take this very seriously and are on hand to help. 

	.bottom