%tr
	%td{:style => "width: #{action_name == 'new' ? '200px' : '170px'};"}
		= f.label :balconies
		-if action_name == 'edit'
			= image_tag "question_mark.png", :class => "question_mark", :rel => "tooltip", "data-original-title" => "How many window balconies does the property have?"
	%td= f.select :balconies, [["1",1], ["2",2], ["3",3], ["4",4], ["5",5], ["6",6], ["7",7], ["8",8], ["9",9], ["10+",10]], { :include_blank => true }