:javascript
	$('[data-countable]').charcounter({
	  limit: 35,
	  warning: 6,
	  warningClass: 'label-warning',
	  exceededClass: 'label-important',
	  defaultClass: 'label-info',
	  notAllowOverflow: true,
	  fontSize: '1.0em',
	})
	$('#property_location a:first').tab('show');