%tr
	%td{:style => "width: #{action_name == 'new' ? '200px' : '170px'};"}
		= f.label :conventions, "Convention ready?"
		-if action_name == 'edit'
			= image_tag "question_mark.png", :class => "question_mark", :rel => "tooltip", "data-original-title" => "If the property is suitable to hold conventions, tick the checkbox."
	%td= f.check_box :conventions