%tr
	%td{:style => "width: #{action_name == 'new' ? '200px' : '170px'};"}
		= f.label :type, 'Property Type'
	%td
		= f.collection_select :type_id, Type.all, :id, :name, {}, { :id => 'property_type' }