- content_for :title do
	Gallery of Lastminute Rentals | BlackDog Property
	
- content_for :link_canonical do
	lastminutes
	
#search.lastmimutes
	#filter
		= render 'shared/lastminute/search_navigation'
	#description
		%h1.underline== All Lastminute Properties

= render 'shared/lastminute/results'
