@import "colors";
@import "layout";

.member {
	position: relative;
	top: 0px;
	float: left;
	width: 950px;	
	height: 50px;
	ul {
	  height: 36px;
		margin: 0px;
		padding: 0px;
		color: $white;
		line-height: 27px;
		font-size: 16px;
		text-align: center;
		li {
			display: inline;
			position: relative;
			float: left;
			padding: 9px 0px 7px 0px;
			margin: 0 6px 0 0;
			background: url(linecopy.gif) no-repeat 50% 100%;
			&.selected {
				background: url(tab_gradient.gif) repeat-x;
			}
			a {
				height: 36px;
				padding: 13px 15px 11px 15px;
				text-decoration: none;
				color: white;
				&:hover {
					background: url(tab_gradient.gif) repeat-x;
				}	  					
			}
		}
	}
}

.panel-container {
	position: relative;
	width: ($site - 42px);
	float: left;
	background: $black; 
	padding: 0px;
	margin-bottom: 0;
	.no-listing {
		background-color: $blue;
		margin: 10px 170px 40px 170px;
		padding: 20px;
		text-align: center;
		h3 {
			margin: 0;
			padding: 0;
			line-height: 1.5em;
			&.black {
				color: $black;
			}
			a {
				color: white;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}