// Place all the styles related to the member/photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dashboard_content {
	#show {
		.box {
			.middle {
				ul {	
					&#sortable {
						clear: both;
						float: left;
						list-style-type: none; margin: 0; padding: 0;
						li {
							padding: 0;
							color: white;
							width: 98px;
							height: 65px;
							border: thin white solid;
							float: left;
							margin: 0 11px 11px 0;
						}
					}
				}
			}
		}
	}
}
