// Place all the styles related to the member/properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "layout";
@import "colors";

td {
	&.width {
		width: 200px;
	}
	label {
		color: $white;
		display: block;
		float: left;
	}
	input {
		padding: 7px 5px;
	}
	textarea {
		padding: 7px;
	}
}

#property_price_label {
	padding-top: 9px;
}