// Place all the styles related to the member/properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "layout";
@import "colors";

h2 {
 	&.section-title {
		margin-bottom: 2px;
	}	
}
p {
	&.sub-title {
		font-size: 13px;
		margin: 0 0 20px 0;
	}
}


table {
	&.property {
		margin-bottom: 25px;
	}
	td {
		padding: 2px 10px 0 0;
		vertical-align: top;
		&.width {
			width: 200px;
		}
		label {
			color: $white;
			display: block;
			float: left;
			&.right {
				text-align:right;
			}
			&.centered {
				margin: 7px 0 0 0;
			}
		}
		input, select {
			padding: 7px 5px;
			margin: 0 4px 8px 2px;
		}
		textarea {
			padding: 7px;
		}
		p.note {
			margin: -5px 0 9px 2px;
		}
		span {
			font-weight: normal;
			&.label-info {
				color: $red;
			}
			&.label-warning {
				color: $light-green;
			}
			&.label-important {
				color: $light-green;
			}
		}
	}
	#property_price_label {
		padding-top: 9px;
	}
	.question_mark {
		margin: 2px 0 0 5px;
		height: 14px;
		width: 14px;
	}
}

.note {
	margin:2px 0 2px 2px;
	padding: 0;
	font-size: 9px;
	line-height: 12px;
}
