// Place all the styles related to the member/properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "layout";
@import "colors";

h2 {
 	&.section-title {
		margin-bottom: 2px;
	}	
}

p {
	&.sub-title {
		font-size: 13px;
		margin: 0 0 20px 0;
	}
}

table {
	&.property {
		margin-bottom: 25px;
		&.edit {
			margin-bottom: 0;
		}
	}
	td {
		padding: 2px 10px 0 0;
		vertical-align: top;
		&.width {
			width: 200px;
		}
		label {
			color: $white;
			display: block;
			float: left;
			&.right {
				text-align:right;
			}
			&.centered {
				margin: 7px 0 0 0;
			}
		}
		input, select {
			padding: 7px 5px;
			margin: 0 4px 8px 2px;
		}
		textarea {
			padding: 7px;
		}
		p.note {
			margin: -5px 0 9px 2px;
		}
		span {
			font-weight: normal;
			&.label-info {
				color: $red;
			}
			&.label-warning {
				color: $light-green;
			}
			&.label-important {
				color: $light-green;
			}
		}
	}
	#property_price_label {
		padding-top: 9px;
	}
	.question_mark {
		margin: 2px 0 0 5px;
		height: 14px;
		width: 14px;
	}
}

.note {
	margin:2px 0 2px 2px;
	padding: 0;
	font-size: 9px;
	line-height: 12px;
}

#dashboard {
	margin: 10px 0 0 0;
	padding: 0;
	#back {
		margin: 0 0 10px 15px;
		padding: 0;
		a {
			font-size: 13px;
			color: $blue;
			text-decoration: underline;
			&:hover {
				text-decoration: none;					
			}
		}
	}
	#heading {
		background: $black;
		margin: 0;
		padding: 0;
		width: 100%;
		float: left;
		border-bottom: thin solid $gray;
		#heading_content {
			padding: 15px;
			float: left;
			width: 950px;
			#property_photo {
				padding: 3px;
				background: lighten($gray, 40%);
				float: left;
				border: 1px solid $gray;
				line-height: 0;
				margin-right: 15px;
				&:hover {
					background: lighten($gray, 45%);
				}
				img {
					height: 65px;
					width: 98px;
					border: 1px solid $gray;
				}
			}
			#property_info {
				display: block;
				float: left;
				h3 {
					font-family: Times New Roman,serif;
					font-size: 30px;
					a {
						&:link, &:visited {
							color: white;
						}
					}
				}
			}
			#property_status {
				float: right;
				width: 200px;
				.actions {
					display: block;
					margin-top: 0px;
					.action_button {
						display: block;
						float: right;
						cursor: pointer;
						border: 1px solid $gray;
						background: lighten($gray, 40%);
						a {
							color: $gray;
							&.icon {
								display: block;
								padding: 4px 6px 0;
								font-weight: bold;
								font-size: 9px;
								text-shadow: 0 1px 0 white;
								text-transform: uppercase;
							}
						}
						&:hover {
							background: lighten($gray, 45%);
						}
					}
				}
				.current_status {
					margin: 30px 0 0 0;
					float: right;
					text-align: right;
					color: $blue;
					font-size: 10px;
					color: $blue;
					.green {
						a {
							font-weight: bold;
							color: $green;
							&:hover {
								text-decoration: underline;
							}
						}
					}
					.red {
						a {
							font-weight: bold;
							color: $bright-red;
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
	#edit_property_outer {
		clear: left;
		float: left;
		width: 100%;
		overflow: hidden;
		background-color: $black;
		#edit_property_inner {
			float: left;
			width: 100%;
			position: relative;
			right: 735px;
			background: $black;
			#side_nav {
				float: left;
				width: 245px;
				position: relative;
				left: 735px;
				overflow: hidden;
				.side_nav_container {
					ul {
						list-style: none;
						&:first-child {
							border-top: 0;
							padding-top: 0;
						}
						li {
							display: list-item;
							height: 32px;
							&.selected {
								margin: 0;
								a {
									color: white;
									font-weight: bold;
									text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
									background: $blue;
									&:hover {
										color: white;
										background: $blue;
										text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
									}
								}
							}
							a {
								display: block;
								font-size: 1em;
								text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
								color: white;
								padding: 6px 15px 6px;
								&:hover {
									background: black;
									color: white;
									text-shadow: 0 0 0 rgba(0, 0, 0, 0);
								}
							}
						}
					}
				}
			}
			#content {
				#notification_area {
					#flash {
						.notice, .error, .warning {
							margin-bottom: 0;
						}
					}
				}
				float: left;
				width: 734px;
				position: relative;
				left: 735px;
				overflow: hidden;
				border-left: thin solid $gray;
				min-height: 160px;
				.box {
					.top {
						width: 734px;
						color: $blue;
						h2 {
							margin: -1px 0 0 0;
							padding: 10px 16px 10px 15px;
							border-bottom: 1px solid $gray;
							border-top: 1px solid $gray;
							color: #393C3D;
							font-size: 12px;
							font-weight: bold;
							text-shadow: 0 1px 0 white;
							background: lighten($gray, 40%);
							&.step {
								text-transform: uppercase;
							}
						}
					}
					.padded_text {
						padding: 15px;
						color: white;
						h3 {
							color: $blue;
							font-size: 15px;
						}
						p {
							padding: 0;
							margin: 0 0 8px 0;
							.green {
								font-weight: bold;
								color: $green;
							}
							.red {
								font-weight: bold;
								color: $bright-red;
							}
						}
						ul {
							list-style: disc inside;
							&:first-child {
								border-top: 0;
								padding-top: 0;
							}
							li {
								font-size: 12px;
								margin:0;
								padding:0 0 7px 0;
							}
						}
						#delete_possible {
							p {
								a {
									font-weight: bold;
								}
							}
						}
						.delete_agreemment {
							padding: 10px 0;
							margin: 0;
							clear: both;
							.agreement_text {
								font-weight: bold;
								font-size: 12px;
							}
						}
					}
					.middle {
						padding: 15px 15px 25px 40px;
						table {
							tr {
								td {
									&.col_third {
										float: left;
										width: 215px;
										clear: right;
										h2 {
											margin: 0 0 6px 0;
											padding: 0;
											font-size: 13px;
											font-weight: bold;
											text-transform: uppercase;
										}
										ul {
											list-style: none;
											&.groups {
												float: left;
											}
											li {
												margin: 0 0 3px 0;
												padding: 0;
												font-size: 1.0em;
												line-height: 15px;
												color: white;
												width: 215px;
												input {
													float: left;
													margin: 3px 8px 8px 2px;
												}
											}
										}
									}
								}
								.charleft.originalDisplayInfo {
									font-size: 11px;
									color: white;
									margin: 0 0 8px 3px;
									padding: 0;
									font-size: 11px;
									line-height: 15px;
								}
								span {
									&.yes {
										color: $green;
										font-size: 11px;
									}
								}
							}
						}
						p {
							margin: 0 0 8px 3px;
							padding: 0;
							font-size: 11px;
							line-height: 15px;
						}
						ul {
							list-style: disc inside;
							&.groups {
								float: left;
							}
							li {
								margin: 0 0 3px 10px;
								padding: 0;
								font-size: 11px;
								line-height: 15px;
								color: white;
							}
						}
						&.map_view {
							padding: 0;
							margin: 0;
							color: #393C3D;
							h3 {
								font-size: 0.9em;
								margin: 0;
								padding: 0;
								&.map_description {
									border: 1px solid #272929;
									padding: 10px 12px;
									background: #404343;
									color: white;
	//								text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8);
									font-weight: bold;
									position: relative;
									z-index: 1;
									vertical-align: top;
								}
								span {
									&.change_address {
										font-style: italic;
										font-weight: normal;
										font-size: 0.9em;
										line-height: 15px;
										display: block;
										float: right;
										a {
											color: white;
											text-decoration: underline;
											&:hover {
												text-decoration: none;
											}
										}
									}
									&.address {
										font-weight: normal;
										margin-left: 15px;
//										padding: 1px 0;
										display: inline-block;
										width: 500px;
									}
								}
								p {
									&.note {
										font-weight: normal;
										margin: 3px 0 0 0;
										padding: 0;
										font-style: italic;
									}
								}
							}
							.map_view {
								.map_container {
									margin: 0;
									padding: 0;
									#private_map, #public_map {
										&.gmaps4rails_map {
											height: 280px;
											width: 734px;
										}
									}
								}
							}
						}
					}
					.bottom {
						
					}
				}
			}
		}
	}
}
