- content_for :title do
	About Us | BlackDog Property

- content_for :link_canonical do
	company

.title
	%h1 About BlackDog Property
	.line

.block.site
	.border
		.details
			%p BlackDog was founded after undertaking many successful independent projects within Europe.

			%p Our reputation was increasing due to the unique style and flair with which we renovate and many of our friends and clients encouraged us to step away from a corporate environment and follow our dream to provide a high class service to discerning individuals.

			%p As executive business consultants, often stressed from long hours in the City, we would seek short breaks and relaxation and be disappointed to find that we weren’t able to find a luxurious environment in which to enjoy our holiday, despite countless fruitless hours on Google.

			%p Thus, BlackDog’s primary mission is to provide a complete service across the following areas:
		
			.about
				.image= image_tag "company/profile_mark.jpg", :height => "120px", :width => "104px", :class => "image"
				.services
					%p FIND - Our consultancy service to help you find the right property
					%p RENOVATION – Developing and updating properties to our clients requirements
					%p RENTING – Our BlackDog accredited luxurious properties to rent
					%p SALES – Marketing and selling properties to our select clients
					%p HOTELS – The finest selection of bespoke boutique hotels
					%p SERVICES – We underpin our offerings with a range of supporting property services.
					
			%p This is what we do and we do it to an exceptional standard. 

			%p We are completely focussed and there is no compromise.
			
	.bottom