- content_for :title do
	BlackDog Team | BlackDog Property

- content_for :link_canonical do
	company/team

.block.site
	.textual
		%p BlackDog has a vision for success and a team of collaborative experts who complement each other’s business skills and aptitude.    

		%p BlackDog illustrates their combined energy and enthusiasm for extending their vision to a wider market, ensuring that clients enjoy the experience of creating their dreams with minimum aggravation and maximum success.

- if @members.empty?
	.team
		%h2 No team members found.
- else
	.team
		- for member in @members
			= render "shared/team/member", :member => member
