- content_for :title do
	Testimonials | BlackDog Property

- content_for :link_canonical do
	company/testimonials

.block.site
	.textual
		%p{:style => "margin-top:12px"} BlackDog are renowned for the personal service we offer our clients. It is always a pleasure to hear that we have achieved our goals.  We'd like to share some of the testimonials from clients.

.section
	- if @testimonials.empty?
		%h2 No testimonials found.
	- else
		- for testimonial in @testimonials
			= render "shared/company/testimonials", :testimonial => testimonial