@import "colors";
@import "fonts";

$site: 980px;
$header: 173px;

html, body {
	height: 100%;
}

body { 
	margin: 0;
	padding: 0;
	background-color: $bg;
	&.home {
		background-color: $bg_home;
	}
}

a {
	&:active {
		border:0;
	}
}

body, p, ol, li ul, td {
  font-family: $verdana;
  font-size:   13px;
  line-height: 18px;
}

h1 {
	text-align: left;
	padding-bottom: 0px;
	font-family: $amsans;
	font-size: 38px;
	line-height: 47px;
	font-weight: bold;
	color: $white;
	margin: 0px;
	letter-spacing: 0px;
	font-style: normal;
	font-weight: normal;
	text-indent: 0px;
}

h2, h3 {
	font-family: $verdana;
	font-weight: normal;
}

h2 {
	font-size: 23px;
	line-height: 1.1em;
	padding: 0;
	margin: 0 0 20px 0;
	color: $blue;
	a {
		text-decoration: none;
	}
}

h3 {
	font-size: 18px;
	line-height: 1.1em;
	padding: 0;
	margin: 0 0 10px 0;
	a {
		text-decoration: none;
	}
}

p {
	text-align: justify;
	padding-bottom: 0px;
	font-size: 12px;
	line-height: 18px;
	color: $white;
	a {
		color: $blue;
		&:hover {
			text-decoration: underline;
		}
	}
}

img {
	border: none;
}

a {
	img {
		border: none;
	}
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
	margin: 0 0 3px 0;
	padding: 0;
	text-decoration: none;
	&:hover {
	}
}

hr { 
  color: #DDD; 
  background-color: #DDD;
}

.left {
  float: left;
  display: inline;
}

.right {
  float: right;
  display: inline;
}

