$silver: silver;
$gray: gray;
$transparent: transparent;
$black: #252122;
$white: white;
$blue: #97C3D6;
$red: #CC0000;
$light-red: #EEAAAA;
$bright-green: #CCFF66;
$light-green: #99CC33;
$orange: #F60;
$bg_home: lighten(black, 38%);
$bg: lighten(black, 40%);

$verdana: Verdana, arial, helvetica, sans-serif;
$amsans: Times New Roman, serif;

$site: 980px;
$header: 173px;

@mixin block-border {
	width: $site - 30px;
	padding: 15px;
	margin: 0;
	background-color: $black;
	float: left;
}
@mixin block-textual {
	padding: 5px 100px;
	margin: 0;
	background-color: $black;
}

@mixin borderless {
	margin: 0;
	padding: 0;
	border: 0;
}

@mixin image-opacity($opacity) {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
	filter: alpha(opacity=($opacity * 100));
	-moz-opacity: $opacity;
	-khtml-opacity: $opacity;
	opacity: $opacity;
}
