$silver: silver;
$gray: gray;
$transparent: transparent;
$black: #252122;
$white: white;
$blue: #97C3D6;
$red: #CC0000;
$light-red: #EEAAAA;
$bright-green: #CCFF66;
$light-green: #99CC33;
$orange: #F60;
$bg_home: lighten(black, 38%);
$bg: lighten(black, 40%);

$verdana: Verdana, arial, helvetica, sans-serif;
$amsans: AmSans, "Am Sans";