// Place all the styles related to the Company controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared";

.about {
	display: block;
  height: 120px;
	border: 1px solid transparent;
	margin-bottom: 10px;
	width: 744px;
	.image {
		margin: 0 10px;
		img {
			margin: 0;
			padding: 0;
		}
	}
	.services {
		position: relative;
		height: 90px;
		margin: 5px 0;
		p {
			margin: 0;
			padding: 0;
		}
	}
}

.team {
	position: relative;
	float: left;
	margin: 9px 0px 14px 10px;
	padding: 0;
	min-height: 287px;
	width: $site;
	.panel {
		position: relative;
		display: inline;
		float: left;
		background-image: url(company/panel_decor_line.gif);
		background-repeat: no-repeat;
		background-size: 450px 6px;
		padding: 15px 0;
		margin: 10px 0 0 0;
		width: 450px;
		&.odd {
			width: 500px;
		}
		.name {
			position: relative;
			z-index: 6;
			width: 356px;
			h2 {
				text-align: left;
				font-size: 16px;
				line-height: 19px;
				font-weight: bold;
				color: white;
				margin: 0 0 12px 0;
			}
		}
		.frame {
			float: left;
			background-image: url(company/frame_thumb_team.gif);
			background-repeat: no-repeat;
			margin: 0;
			padding: 0;
			height: 166px;
			width: 137px;
			z-index: 7;
			.picture {
				padding: 11px 10px 6px 9px;
				margin: 0;
				z-index: 8;
			}
		}
		.profile {
			float: left;
			margin: 0 0 0 10px;
			overflow: auto;
			height: 217px;
			width: 303px;
			z-index: 6;
			p {
				margin: 0 0 10px 0;
				text-align: left;
				font-size: 11px;
				line-height: 14px;
			}
		}
	}
}

.section {
	position: relative;
	margin: 22px 8px 8px 8px;
	width: $site -16px;
	top: 0px;
	left: 0px;
	float: left;
	.testimonial {
		position: relative;
		width: 48%;
		padding: 0 0 15px 0;
		&.odd {
			float: left;
		}
		&.even {
			float: right;
			margin-left: 8px;
		}
		.quotes {
			float:left;
		}
		.details {
			p {
				margin-top: 0;
				font-size: 11px;
				line-height: 13px;
			}
		}
		.person {
			font-size: 11px;
			line-height: 13px;
			text-align: right;
			font-weight: bold;
			color: $silver;
			padding: 0 0 15px 0;
		}
	}
}

.show_case {
	float: left;
	margin: 24px 0 0 6px;
	width: 832px;
	min-height: 300px;
	.area {
		margin: 19px 0 0 14px;
		width: 36px;
		height: 212px;
		h2 {
			color: white;
			text-align: center;
			font-size: 32px;
		}
	}	
}
