// Place all the styles related to the lastminutes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

#search {
	.filter {
		z-index: 10;
		float:left;
	}
	h1 {
		float: left;
		&.variable {
			float:right;
			background-image: url(linecopy.gif);
			background-position: 0px 49px;
			background-repeat: no-repeat;
			margin: 0;
			background-size: 980px 6px;
		}
	}
}