// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "fonts";
@import "colors";
@import "layout";
@import "mixins";

.countries {
	position: relative;
	top: -37px;
	float: right;
	height: 36px;
	ul {
	  height: 36px;
		margin: 0px;
		padding: 0px;
		color: $white;
		line-height: 27px;
		font-size: 16px;
		text-align: center;
		li {
			display: inline;
			position: relative;
			float: left;
			padding: 9px 0px 7px 0px;
			margin: 0 6px 0 0;
			background: url(linecopy.gif) no-repeat 50% 100%;
			&.selected {
				background: url(tab_gradient.gif) repeat-x;
			}
			a {
				height: 36px;
				padding: 13px 15px 11px 15px;
				text-decoration: none;
				color: white;
				&:hover {
					background: url(tab_gradient.gif) repeat-x;
				}	  					
			}
		}
	}
}

.description {
	h3 {
		a {
			color: $blue;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
