@import "fonts";
@import "colors";
@import "layout";
@import "mixins";

#main {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background-image: url(background_general.gif);
  background-color: $black;
  color: gray;
  margin: 0 auto;
	&.home {
		background-image: url(background_home.gif);
	}
	#header {
		height: $header;
		width: 100%;
		margin: 0;
		padding: 0;
		.wrapper {
			position: relative;
			margin: 0 auto;
			width: $site;
			#admin {
				left: 0px;
			}
			#information {
				right: 0px;
			}
			#information, #admin {
				position: absolute;
				z-index: 8;
				margin: 0;
				top: 4px;
				ul {
					height: 17px;
					margin: 0px;
					padding: 0px;
					color: $silver;
					font-size: 10px;
					text-align: center;
					li {
						display: inline;
						position: relative;
						list-style: none outside;
						float: left;
						margin: 0 7px;
						a {
							line-height: 17px;
							color: $silver;
							overflow: hidden;
							padding: 0 7px;
							text-decoration: none;
							&:hover {
								color: $white;
							}
						}
					}
				}
			}
			#logo {
				position: absolute;
				left: 80px;
				top: 42px;
				z-index: 3;
				margin: 0;
			}
			#social {
				position: absolute;
				top: 70px;
				right: 10px;
			}
			#social {
				a {
					@include image-opacity(0.5);
					&:hover {
						@include image-opacity(1);
					}
					img {
						vertical-align:middle;
						margin:-5px 2px 0 2px;
					}
				}
			}
			#navigation {
				position: absolute;
				left: 60px;
				top: 133px;
				z-index: 14;
				margin-left: 0px;
				margin-top: 0px;
				ul {
					position:relative;
				  height: 22px;
					margin: 0px;
					padding: 0px;
					color: white;
					line-height: 22px;
					font-size: 15px;
					font-family: $verdana;
					text-align: center;
					li {
						display: inline;
						position: relative;
						float: left;
						margin: 4px 15px;
//						margin: 4px 9px;
						span, a {
							padding: 4px 14px;
							text-decoration: none;
							color: $white;
							&:hover {
								background: black;
							}	  					
						}
						ul {
							margin: 0;
							padding: 0;
							display: none;
							position: absolute;
							color: white;
							li {
								width: 152px;
								position: relative;
								float: left;
								margin: 0;
								color: white;
								span, a {
									width: 142px;
									padding: 2px 5px 3px 15px;
									margin: 0;
									line-height: 15px;
									font-size: 12px;
									font-family: Verdana, sans-serif;
									text-align: left;
									display: inline;
									background-color: black;
									color: white;
									float: left;
									&:hover {
										color: black;
										background-color: silver;
									}
								}
							}
						}
						&:hover {
							ul {
								display: block;
							}
						}
					}
				}
			}
		}
	}
	#page {
	  margin: 10px auto;
		padding: 0 0 80px 0;
	  width: 100%;
		float: left;
		.wrapper {
			margin: 0 auto;
		  width: $site;
			.title {
				margin: 33px auto 0 auto;
				padding: 0 0 0 3px;
				h1 {
					padding: 0 15px;
				}
			}
			.line {
				height: 6px;
				background-image: url(linecopy.gif);
				backgroud-repeat: repeat-x;
				background-size: 100%;
				margin: 0 0 10px 0;
				padding: 0;					
				&.short {
					width: 625px;
					background-size: 625px 6px;
				}
				&.search {
					width: 367px;
					background-size: 367px 6px;
				}
			}
			.block {
				background-color: $black;
				margin: 0 0 30px 0;
				padding: 0;
				&.site {
					width: $site;
					float: left;
					&.flash {
						margin: 0;
					}
				}
				&.borderless {
					@include borderless;
				}
				.border {
					@include block-border;
					.image {
						float: left;
						border: 0px none;
					}
					.details {
						p {
							margin-top: 0;
							text-align: justify;
							padding-bottom: 0px;
							font-size: 12px;
							line-height: 18px;
						}
					}
					.enquiry {
						float: left;
						margin: 0;
						padding: 20px 0 0 0;
						h3 {
							font-size: 17px;
							font-weight: normal;
							a {
								color: $blue;
								&:hover {
									text-decoration: underline;
								}
							}
						}
					}
					h2 {
						color: $white;
						text-align: left;
						padding: 10px 0 0 0;
						font-size: 16px;
						line-height: 19px;
					}
					.package {
						float: left;
						margin: 0;
						padding: 0;
						width: 248px;
						.name {
							text-align: center;
							font-weight: bold;
							padding: 7px 0;
							&.silver {
								background-color: silver;
								color: black;
							}
							&.gold {
								background-color: darkGoldenrod;
								color: white;
							}
							&.platinum {
								background-color: lightSteelBlue;
								color: black;
							}
						}
						.points {
							color: $white;
							p {
								text-align: center;
								line-height: 13px;
								font-size: 11px;
							}
							ul {
								display: block;
								list-style-type: disc;
								li {
									text-align: left;
									padding-bottom: 0px;
									line-height: 13px;
									font-size: 11px;
								}
							}
						}
					}
					.prices {
						clear: both;
						.value {
							float: left;
							margin: 0;
							padding: 7px 0;
							width: 248px;
							background-color: black;
							color: white;
							font-weight: bold;
							line-height: 13px;
							font-size: 11px;
							text-align: center;
						}
					}
					.box {
						background-color: white;
						width: 291px;
						padding: 10px;
						margin: 0 8px 0 0;
						float: left;
						height: 200px;
						&.last {
							margin: 0;
						}
						h2 {
							color: $black;
							text-align: left;
							padding: 0;
							font-size: 16px;
							line-height: 19px;
						}
						p {
							font-size: 11px;
							line-height: 13px;
							color: black;
							letter-spacing: 0px;
							text-indent: 0px;
							text-align: justify;
						}
						.img {
							text-align: center;
						}
					}
				}
				.textual {
					@include block-textual;
					h1 {
						font-family: $verdana;
						font-weight: bold;
						font-size: 16px;
						color: $white;
						margin: 0;
					}
					p {
						text-align: justify;
						font-size: 12px;
						line-height: 18px;
					}
				}
				.bottom {
					float: left;
					height: 4px;
					position: relative;
					margin-bottom: 20px;					
				}
				.head {
					position: relative;
					width: 100%;
					margin: 0;
					padding: 0;
					float: left;
					.images {
						float: left;
						margin: 0 10px 0 0;
						a {
							@include image-opacity(1.0);
							&:hover {
								@include image-opacity(0.75);
							}							
						}
						img {
							margin: 1px;
						}
						.row {
						}
					}
					.description {
						h1 {
							font-family: $verdana;
							text-align: left;
							padding: 10px 0 0 0;
							font-size: 16px;
							line-height: 19px;
						}
						p {
							text-align: justify;
							padding-bottom: 0px;
							font-size: 12px;
							margin-top: 15px;
						}
					}
				}
			}
		}
		.break {
			float: left;				
			background-image: url(location/line_full_width.gif);
			background-repeat: repeat-x;
			background-size: $site 6px;
			width: $site;
			height: 6px;
			padding: 0;					
			margin: 6px 0;
			z-index: 3;
		}
	}
}

#footer {
	position: relative;
	clear: both;
	margin: -120px 0 0 0;
	padding: 0;
	height: 120px;
	width: 100%;
	overflow: hidden;
	background-color: $black;
	clear:both;
	.wrapper {
		margin: 0 auto 15px auto;
	  padding: 15px 0;
	  width: $site;
		text-align: left;
		font-size: 0.75em;
		.column {
			position: relative;
			padding: 0 0 0 200px;
			margin: 0;
			float: left;
			ul {
				margin: 0px;
				padding: 0px;
				color: $white;
				text-decoration: none;
				text-align: left;
				li {
					width: 100%;
					margin: 0;
					list-style: none outside;
					font-size: 9px;
					line-height: 13px;
					a {
						padding: 0;
						color: $white;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
		#first {
			padding: 0 0 0 150px;
			margin: 0;
		}
	}
}

.placeholder {
	color: #999;
	font-style: italic;
	&:active, &:focus {
		cursor:text;
		color: #000;
	}
}

.clear {
	clear: both;
}

/*---------- FLASHES ----------*/
#flash {
	text-align: center;
	font-size: 16px;
	font-weight: normal;
	margin: 0 auto;
	padding: 0;
//	width: $site;
	.alert {
		margin-bottom: 10px;
		padding: 10px;
	  border: 1px solid $red;
		background: $light-red;
		color: $red;
	}
	.notice {
		margin-bottom: 10px;
		padding: 10px;
		border: 1px solid $light-green;
		background: $bright-green;
		color: lighten(green, 1);
	}
}