@import "shared";

/* Page Layout */

#main {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	#header {
		height: 173px;
		width: 100%;
		margin: 0;
		padding: 0;
		.wrapper {
			position: relative;
			margin: 0 auto;
			width: 920px;
			#admin {
				position: absolute;
				left: -80px;
				top: 180px;
				margin: 0;
				z-index: 8;
				ul {
					height: 17px;
					margin: 0px;
					padding: 0px;
					color: $silver;
					font-size: 10px;
					text-align: left;
					list-style-type: none;
					li {
						margin: 0 7px;
						a {
							line-height: 17px;
							color: $silver;
							overflow: hidden;
							padding: 0 7px;
							text-decoration: none;
							&:hover {
								color: $white;
							}
						}
					}
				}
			}
			#information {
				position: absolute;
				left: 597px;
				top: 4px;
				margin: 0;
				z-index: 8;
				ul {
					height: 17px;
					margin: 0px;
					padding: 0px;
					color: $silver;
					font-size: 10px;
					text-align: center;
					li {
						display: inline;
						position: relative;
						list-style: none outside;
						float: left;
						margin: 0 7px;
						a {
							line-height: 17px;
							color: $silver;
							overflow: hidden;
							padding: 0 7px;
							text-decoration: none;
							&:hover {
								color: $white;
							}
						}
					}
				}
			}
			#logo {
				position: absolute;
				left: 92px;
				top: 42px;
				z-index: 3;
				margin: 0;
			}
			#navigation {
				position: absolute;
				left: 78px;
				top: 133px;
				z-index: 7;
				margin-left: 0px;
				margin-top: 0px;
				ul {
					position:relative;
				  height: 22px;
					margin: 0px;
					padding: 0px;
					color: white;
					line-height: 22px;
					font-size: 15px;
					font-family: $verdana;
					text-align: center;
					li {
						display: inline;
						position: relative;
						float: left;
						margin: 4px 8px 4px 8px;
						span, a {
							padding: 4px 14px;
							text-decoration: none;
							color: $white;
							&:hover {
								background: black;
							}	  					
						}
						ul {
							margin: 0;
							padding: 0;
							display: none;
							position: absolute;
							color: white;
							li {
								width: 152px;
								position: relative;
								float: left;
								margin: 0;
								color: white;
								span, a {
									width: 142px;
									padding: 2px 5px 3px 15px;
									margin: 0;
									line-height: 15px;
									font-size: 12px;
									font-family: Verdana, sans-serif;
									text-align: left;
									display: inline;
									background-color: black;
									color: white;
									float: left;
									&:hover {
										color: black;
										background-color: silver;
									}
								}
							}
						}
						&:hover {
							ul {
								display: block;
							}
						}
					}
				}
			}
		}
	}
	#page {
	  margin: 10px auto;
		padding: 0 0 50px 0;
	  width: 100%;
		float: left;
		.wrapper {
			margin: 0 auto;
		  width: 920px;
			.title {
				width: 774px;
				margin: 33px auto 0 auto;
				padding: 0 10px;
				h1 {
					width: 744px;
					padding: 0 15px;
				}
			}
			.line {
				height: 6px;
				background-image: url(linecopy.gif);
				margin: 0 0 10px 0;
				padding: 0;
				&.short {
					width: 421px;
				}
			}
			.block {
				background-color: $black;
				width: 774px;
				margin: 0 auto;
				padding: 0;				
				.textual {
					padding: 5px 100px;
					width: 574px;
					margin: 0;
					background-image: url(box_background.gif);
					background-repeat: repeat-y;
					background-attachment: scroll;
					background-position: center top;
					h1 {
						font-family: $verdana;
						font-weight: bold;
						font-size: 16px;
						color: $white;
						margin: 0;
					}
					p {
						text-align: justify;
						font-size: 12px;
						line-height: 18px;
					}
				}
				.border {
					float: left;
					padding: 15px;
					margin: 0;
					width: 744px;
					background-image: url(box_background.gif);
					background-repeat: repeat-y;
					background-attachment: scroll;
					background-position: center top;
					.image {
						float: left;
						border: 0pt none;
					}
					.details {
						p {
							margin-top: 0;
							text-align: justify;
							padding-bottom: 0px;
							font-size: 12px;
							line-height: 18px;
						}
					}
					.enquiry {
						float: left;
						margin: 0;
						padding: 20px 0 0 0;
						h3 {
							font-size: 17px;
							font-weight: normal;
							a {
								color: $blue;
								&:hover {
									text-decoration: underline;
								}
							}
						}
					}
					h2 {
						color: $white;
						text-align: left;
						padding: 10px 0 0 0;
						font-size: 16px;
						line-height: 19px;
					}
					.package {
						float: left;
						margin: 0;
						padding: 0;
						width: 247px;
						.name {
							text-align: center;
							font-weight: bold;
							padding: 7px 0;
							&.silver {
								background-color: silver;
								color: black;
							}
							&.gold {
								background-color: darkGoldenrod;
								color: white;
							}
							&.platinum {
								background-color: lightSteelBlue;
								color: black;
							}
						}
						.points {
							color: $white;
							p {
								text-align: center;
								line-height: 13px;
								font-size: 11px;
							}
							ul {
								display: block;
								list-style-type: disc;
								li {
									text-align: left;
									padding-bottom: 0px;
									line-height: 13px;
									font-size: 11px;
								}
							}
						}
					}
					.prices {
						clear: both;
						.value {
							float: left;
							margin: 0;
							padding: 7px 0;
							width: 247px;
							background-color: black;
							color: white;
							font-weight: bold;
							line-height: 13px;
							font-size: 11px;
							text-align: center;
						}
					}
					.box {
						background-color: white;
						width: 222px;
						padding: 10px;
						margin: 0 6px 0 0;
						float: left;
						height: 240px;
						h2 {
							color: $black;
							text-align: left;
							padding: 0;
							font-size: 16px;
							line-height: 19px;
						}
						p {
							font-size: 11px;
							line-height: 13px;
							color: black;
							letter-spacing: 0px;
							text-indent: 0px;
							text-align: justify;
						}
						.img {
							text-align: center;
						}
					}
				}
				.bottom {
					float: left;
					background-image: url(box_bottom.gif);
					height: 4px;
					width: 774px;
					position: relative;
					background-position: center bottom;
					margin-bottom: 20px;
				}
			}
		}
		.head {
			position: relative;
			width: 770px;
			margin: 0 73px;
			padding: 0;
			float: left;
			.images {
				float: left;
				margin: 0 10px 0 0;
				img {
					margin: 1px;
				}
				.row {
				}
			}
			.description {
				h1 {
					font-family: $verdana;
					text-align: left;
					padding: 10px 0 0 0;
					font-size: 16px;
					line-height: 19px;
				}
				p {
					text-align: justify;
					padding-bottom: 0px;
					font-size: 12px;
					margin-top: 15px;
				}
			}
		}
		.break {
			background-image: url(location/line_full_width.gif);
			background-repeat: no-repeat;
			width: 774px;
			height: 6px;
			margin: 0 73px 6px 73px;
			z-index: 3;
			float: left;
		}
	}
}

#footer {
	position: relative;
	clear: both;
	margin: -120px 0 0 0;
	padding: 0;
	height: 120px;
	width: 100%;
	overflow: hidden;
	background-color: $black;
	clear:both;
	.wrapper {
		margin: 0 auto 15px auto;
	  padding: 15px 40px;
	  width: 920px;
		text-align: left;
		font-size: 0.75em;
		.column {
			position: relative;
			padding: 0 0 0 165px;
			margin: 0;
			float: left;
			ul {
				margin: 0px;
				padding: 0px;
				color: $white;
				text-decoration: none;
				text-align: left;
				li {
					width: 100%;
					margin: 0;
					list-style: none outside;
					font-size: 9px;
					line-height: 13px;
					a {
						padding: 0;
						color: $white;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
		#first {
			padding: 0 0 0 150px;
			margin: 0;
		}
	}
}

/*---------- FLASHES ----------*/
#flash {
	text-align: center;
	font-size: 16px;
	font-weight: normal;
	margin: 0 auto;
	padding: 0;
	width: 774px;
	.alert {
		margin-bottom: 10px;
		padding: 10px;
	  border: 1px solid $red;
		background: $light-red;
		color: $red;
	}
	.notice {
		margin-bottom: 10px;
		padding: 10px;
		border: 1px solid $light-green;
		background: $bright-green;
		color: lighten(green, 1);
	}
}