// Place all the styles related to the Rentals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared";

#breadcrumbs {
	margin: 0 0 12px 80px;
	padding: 0;
	color: $white;
	a {
		color: $blue;
		&:hover {			
		}
	}
}

#gallery {
	&.property {
		width: 400px;
	}
}

#search {
	position: relative;
	float: left;
	margin: 33px auto 9px 10px;
	padding: 0 0 0 64px;
	width: 774px;
	display: table-cell;
	.filter {
		margin: 12px 0 0 0;
		float: right;
		ul {
		  height: 36px;
			margin: 0px;
			padding: 0px;
			color: $white;
			line-height: 27px;
			font-size: 16px;
			text-align: center;
			li {
				display: inline;
				position: relative;
				float: left;
				padding: 9px 0px 7px 0px;
				margin: 0 6px 0 0;
				background: url(linecopy.gif) no-repeat 50% 100%;
				&.selected {
					background: url(location/button_locate.gif) repeat-x;
				}
				a {
					height: 36px;
					padding: 13px 15px 11px 15px;
					text-decoration: none;
					color: white;
					&:hover {
						background: url(location/button_locate.gif) repeat-x;
					}	  					
				}
			}
		}
	}
	h1 {
		vertical-align: top;
		line-height: 56px;
		&.short {
			background-image: url(linecopy.gif);
			background-position: 0px 49px;
			background-repeat: no-repeat;
			margin: 0;
			padding: 0;
			width: 367px;
		}
	}
}

#results {
	position: relative;
	float: left;
	margin: 9px 0px 9px 10px;
	padding: 0 0 0 64px;
	min-height: 287px;
	width: 774px;
	.property {
		position: relative;
		display: inline;
		float: left;
		margin: 0;
		padding: 10px;
		background-color: $black;
//		background-image: url(box_background.gif);
//		background-repeat: repeat-y repeat-x;
//		background-size: 100%;
//		background-position: right top;
		width: 754px;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
		filter: alpha(opacity=95);
		-moz-opacity:0.95;
		-khtml-opacity: 0.95;
		opacity: 0.95;
		&:hover {
			-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha(opacity=100);
			-moz-opacity:1.0;
			-khtml-opacity: 1.0;
			opacity: 1.0;
		}
		.featured {
			float: left;
			margin: 0;
			padding: 0;
			width: 300px;
			height: 200px;
			text-align: center;
			img {
				
			}
		}
		.short {
			float: left;
			width: 438px;
			margin: 0 6px 0 10px;
			h2 {
			}
			.bio {
				p {
				}
			}
		}
	}
}

#tab-container {
	margin: 0 6px;
	padding: 0;
	ul {
		color: $white;
		line-height: 27px;
		font-size: 16px;
		text-align: center;
		&.etabs { 
			margin: 0; 
			padding: 0;
			li {
				display: inline;
				position: relative;
				float: left;
				padding: 9px 0px 7px 0px;
				margin: 0 6px 0 0;
				background: url(linecopy.gif) no-repeat 50% 100%;
				&.tab { 
					display: inline-block;
					margin: 0 6px 0 0;
					padding: 9px 0px 0px 0px;
					zoom: 1;
					*display: inline; 
					a { 
						color: $white;
						font-size: 16px; 
						line-height: 2em; 
						display: block; 
						padding: 0 10px; 
						outline: none; 
						text-decoration: none;
						&.active { 
							font-weight: normal; 
						}
					}
					&:hover, &.active { 
						background: url(location/button_locate.gif) repeat-x;
					}
				}
			}
		}
	}
	.panel-container {
		position: relative;
		width: 734px;
		float: left;
		background: $black; 
		padding: 0px;
		margin-bottom: 0;
		ul {
			margin: 1em 6px;
			padding: 0;
			line-height: 18px;
			font-size: 12px;
			text-align: left;
			list-style-position: inside;
			li {
			}
		}
		#tab_description, #tab_facilities, #tab_location, #tab_price {
			float: left;
			margin-top: 8px;
		}
	}
}
