// Place all the styles related to the Rentals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "fonts";
@import "colors";
@import "layout";
@import "mixins";

#breadcrumbs {
	margin: 0 0 12px 18px;
	padding: 0;
	color: $white;
	a {
		color: $blue;
		&:hover {			
		}
	}
}

#gallery {
	margin: 0 auto;
	&.property {
	}
}

#search {
	position: relative;
	float: left;
	margin: 33px auto 9px;
	padding: 0;
	width: $site;
	display: table-cell;
	.filter {
		margin: 12px 0 0 0;
		float: right;
		ul {
		  height: 36px;
			margin: 0px;
			padding: 0px;
			color: $white;
			line-height: 27px;
			font-size: 16px;
			text-align: center;
			li {
				display: inline;
				position: relative;
				float: left;
				padding: 9px 0px 7px 0px;
				margin: 0 6px 0 0;
				background: url(linecopy.gif) no-repeat 50% 100%;
				&.selected {
					background: url(location/button_locate.gif) repeat-x;
				}
				a {
					height: 36px;
					padding: 13px 15px 11px 15px;
					text-decoration: none;
					color: white;
					&:hover {
//						background: url(location/button_locate.gif) repeat-x;
					}	  					
				}
			}
		}
	}
	h1 {
		vertical-align: top;
		line-height: 56px;
		padding: 0 15px;
		&.short {
			background-image: url(linecopy.gif);
			background-position: 0px 49px;
			background-repeat: no-repeat;
			margin: 0;
			background-size: 573px 6px;
		}
	}
}

#results {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	min-height: 287px;
	width: site;
	.paginate {
		float: left;
		padding: 10px 0;
		margin: 0 auto;
		text-align: center;
		background-color: $black;
		width: $site;
	}
	.property {
		position: relative;
		float: left;
		margin: 0;
		padding: 10px;
		background-color: $black;
		@include image-opacity(0.95);
		&:hover {
			@include image-opacity(1.0);
		}
		.featured {
			float: left;
			margin: 0;
			padding: 0;
			width: 300px;
			height: 200px;
			text-align: center;
			img {
				
			}
		}
		.short {
			float: right;
			width: ($site - 346px);
			margin: 0 10px 0 16px;
			h2 {
				color: $blue;
			}
			.bio {
				p {
				}
			}
		}
	}
}

#tab-container {
	margin: 0 6px;
	padding: 0;
	ul {
		color: $white;
		line-height: 27px;
		font-size: 16px;
		text-align: center;
		&.etabs { 
			margin: 0; 
			padding: 0;
			li {
				display: inline;
				position: relative;
				float: left;
				padding: 9px 0px 7px 0px;
				margin: 0 6px 0 0;
				background: url(linecopy.gif) no-repeat 50% 100%;
				&.tab { 
					display: inline-block;
					margin: 0 6px 0 0;
					padding: 9px 0px 0px 0px;
					zoom: 1;
					*display: inline; 
					a { 
						color: $white;
						font-size: 16px; 
						line-height: 2em; 
						display: block; 
						padding: 0 10px; 
						outline: none; 
						text-decoration: none;
						&:active { 
							font-weight: normal; 
						}
						&:hover { 
							background-color: transparent;
						}
					}
					&:hover { 
						background: url(location/button_locate.gif) repeat-x;
					}
				}
			}
		}
	}
	.panel-container {
		position: relative;
		width: ($site - 42px);
		float: left;
		background: $black; 
		padding: 0px;
		margin-bottom: 0;
		ul {
			margin: 1em 6px;
			padding: 0;
			line-height: 18px;
			font-size: 12px;
			text-align: left;
			list-style-position: inside;
			li {
			}
		}
		#tab_description, #tab_facilities, #tab_location, #tab_price {
			float: left;
			margin-top: 8px;
		}
	}
}
