$silver: silver;
$gray: gray;
$transparent: transparent;
$black: #252122;
$white: white;
$blue: #97C3D6;

$verdana: Verdana, arial, helvetica, sans-serif;
$amsans: AmSans, "Am Sans";

html, body {
	height: 100%;
}

body { 
	background-image: url(d67browserbackground.gif);
  background-color: $black;
  color: #666;
  margin: 0 auto;
	&.home {
		background-image: url(d997browserbackground.gif);
	}
}

a {
	&:active {
		border:0;
	}
}

body, p, ol, li ul, td {
  font-family: $verdana;
  font-size:   13px;
  line-height: 18px;
}

h1 {
	text-align: left;
	padding-bottom: 0px;
	font-family: amsans;
	font-size: 38px;
	line-height: 47px;
	font-weight: bold;
	color: $white;
	
	margin: 0px;
	letter-spacing: 0px;
	font-style: normal;
	font-weight: normal;
	text-indent: 0px;
}

h2, h3 {
	font-family: $verdana;
	font-weight: normal;
}

h2 {
	font-size: 23px;
	line-height: 1.1em;
	padding: 0;
	margin: 0 0 20px 0;
	a {
		text-decoration: none;
	}
}

h3 {
	font-size: 18px;
	line-height: 1.1em;
	padding: 0;
	margin: 0 0 10px 0;
	a {
		text-decoration: none;
	}
}

p {
	text-align: justify;
	padding-bottom: 0px;
	font-size: small;
	line-height: 18px;
	color: $white;
	a {
		color: $blue;
		&:hover {
			text-decoration: underline;
		}
	}
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
	margin: 0 0 3px 0;
	padding: 0;
	text-decoration: none;
	&:hover {
	}
}

hr { 
  color: #DDD; 
  background-color: #DDD;
}

.left {
  float: left;
  display: inline;
}

.right {
  float: right;
  display: inline;
}

/* Page Layout */

#main {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	#header {
		position: relative;
		overflow: auto;
		height: 173px;
		width: 100%;
		margin: 0;
		padding: 0;
		.wrapper {
			position: relative;
			margin: 0 auto;
			width: 920px;
			#information {
				position: absolute;
				left: 597px;
				top: 4px;
				margin: 0;
				z-index: 8;
				ul {
					height: 17px;
					margin: 0px;
					padding: 0px;
					color: $silver;
					font-size: 10px;
					text-align: center;
					li {
						display: inline;
						position: relative;
						list-style: none outside;
						float: left;
						margin: 0 7px;
						a {
							line-height: 17px;
							color: $silver;
							overflow: hidden;
							padding: 0 7px;
							text-decoration: none;
							&:hover {
								color: $white;
							}
						}
					}
				}
			}
			#logo {
				position: absolute;
				left: 92px;
				top: 42px;
				z-index: 3;
				margin: 0;
			}
			#navigation {
				position: absolute;
				left: 78px;
				top: 133px;
				z-index: 7;
				margin-left: 0px;
				margin-top: 0px;
				ul {
				  height: 22px;
					margin: 0px;
					padding: 0px;
					color: white;
					line-height: 22px;
					font-size: 15px;
					font-family: $verdana;
					text-align: center;
					li {
						display: inline;
						position: relative;
						float: left;
						margin: 4px 8px 4px 8px;
						span, a {
							padding: 4px 14px;
							text-decoration: none;
							color: $white;
							&:hover {
								background: black;
							}	  					
						}
					}
				}
			}
		}
	}
	#page {
		position: relative;
		top: 0;
		overflow: auto;
	  margin: 10px auto;
		padding: 0 0 120px 0;
	  width: 100%;
		.wrapper {
			margin: 0 auto;
		  width: 920px;
			position: relative;
			.block {
				background-color: $black;
				width: 774px;
				margin: 0 73px;
				padding: 0;
				.gallery {
					padding: 5px;
					margin: 0;
					width: 764px;
				}
				.textual {
					padding: 5px 100px;
					width: 574px;
					margin: 0;
					background-image: url(box_background.gif);
					background-repeat: repeat-y;
					background-attachment: scroll;
					background-position: center top;
					h1 {
						font-family: $verdana;
						font-weight: bold;
						font-size: 16px;
						color: $white;
						margin: 0;
					}
					p {
						text-align: justify;
						font-size: small;
						line-height: 15px;
					}
				}
				.border {
					position: relative;
					float: left;
					padding: 15px;
					margin: 0;
					width: 744px;
					background-image: url(box_background.gif);
					background-repeat: repeat-y;
					background-attachment: scroll;
					background-position: center top;
					.image {
						float: left;
						border: 0pt none;
					}
					.details {
						p {
							margin-top: 0;
							text-align: justify;
							padding-bottom: 0px;
							font-size: small;
							line-height: 15px;
						}
					}
					.enquiry {
						margin: 0;
						padding: 10px 0;
						h3 {
							font-size: 19px;
							font-weight: bold;
							a {
								color: $blue;
								&:hover {
									text-decoration: underline;
								}
							}
						}
					}
					h2 {
						color: $white;
						text-align: left;
						padding: 10px 0 0 0;
						font-size: 16px;
						line-height: 19px;
					}
					.package {
						float: left;
						margin: 0;
						padding: 0;
						width: 247px;
						.name {
							text-align: center;
							font-weight: bold;
							padding: 7px 0;
							&.silver {
								background-color: silver;
								color: black;
							}
							&.gold {
								background-color: darkGoldenrod;
								color: white;
							}
							&.platinum {
								background-color: lightSteelBlue;
								color: black;
							}
						}
						.points {
							color: $white;
							p {
								text-align: center;
								line-height: 13px;
								font-size: 11px;
							}
							ul {
								display: block;
								list-style-type: disc;
								li {
									text-align: left;
									padding-bottom: 0px;
									line-height: 13px;
									font-size: 11px;
								}
							}
						}
					}
					.prices {
						clear: both;
						.value {
							float: left;
							margin: 0;
							padding: 7px 0;
							width: 247px;
							background-color: black;
							color: white;
							font-weight: bold;
							line-height: 13px;
							font-size: 11px;
							text-align: center;
						}
					}
				}
				.bottom {
					float: left;
					background-image: url(box_bottom.gif);
					height: 4px;
					width: 774px;
					position: relative;
					background-position: center bottom;
				}
			}
			.title {
				width: 774px;
				margin: 33px auto 0 auto;
				padding: 0 10px;
				h1 {
					width: 744px;
					padding: 0 15px;
				}
			}
			.line {
				height: 6px;
				background-image: url(linecopy.gif);
				margin: 0 0 10px 0;
				padding: 0;
			}
		}
		.head {
			position: relative;
			width: 770px;
			margin: 0 73px;
			padding: 0;
			.images {
				float: left;
				margin: 0 10px 0 0;
				img {
					margin: 1px;
				}
				.row {
				}
			}
			.description {
				h1 {
					font-family: $verdana;
					text-align: left;
					padding: 10px 0 0 0;
					font-size: 16px;
					line-height: 19px;
				}
				p {
					text-align: justify;
					padding-bottom: 0px;
					font-size: 12px;
					margin-top: 15px;
				}
			}
		}
		.break {
			background-image: url(location/line_full_width.gif);
			background-repeat: no-repeat;
			width: 774px;
			height: 6px;
			margin: 0 73px 6px 73px;
			z-index: 3;
		}
	}
}

#footer {
	position: relative;
	clear: both;
	margin: -120px 0 0 0;
	padding: 0;
	height: 120px;
	width: 100%;
	overflow: hidden;
	background-color: $black;
	clear:both;
	.wrapper {
		margin: 0 auto 15px auto;
	  padding: 15px 40px;
	  width: 920px;
		text-align: left;
		font-size: 0.75em;
		.column {
			position: relative;
			padding: 0 0 0 165px;
			margin: 0;
			float: left;
			ul {
				margin: 0px;
				padding: 0px;
				color: $white;
				text-decoration: none;
				text-align: left;
				li {
					width: 100%;
					margin: 0;
					list-style: none outside;
					font-size: 9px;
					line-height: 13px;
					a {
						padding: 0;
						color: $white;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
		#first {
			padding: 0 0 0 150px;
			margin: 0;
		}
	}
}