// Place all the styles related to the Supports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the supports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared";

.required {
	display: inline;
	color: $white;
	font-size: xx-small;
	vertical-align: top;
}

.error_messages {
  border: 2px solid #CF0000;
  padding: 0px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
	h2 {
	  text-align: left;
	  font-weight: bold;
	  padding: 5px 10px;
	  margin: 0;
	  background-color: #c00;
	  color: white;
	}
	p {
	  margin: 8px 10px;
	}
	ul {
	  margin: 15px 0;
		li {
			font-size: 13px;
		}
	}
}

