// Place all the styles related to the Supports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the supports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared";

.required {
	display: inline;
	color: $white;
	font-size: xx-small;
	vertical-align: top;
}

#contact_form {
	width: 450px;
	margin-right: 20px;
	table {
		margin: 0;
		tr {
			margin: 0;
			padding: 0;
			td {
			  padding: 0 10px 10px 0;
				margin: 0;
				font-weight: bold;
				font-size: 14px;
			  text-align: left;
			  vertical-align: text-top;
				color: $black;
				&.label {
					font-size: 14px;
					font-weight: bold;
					margin: 5px;
					padding: 0 15px 0 0;
					color: $black;
					width: 99px;
				}
				input {
					padding: 5px 2px;
					font-size: 13px;
					width: 340px;
					&.error {
						border-color: $blue;
					}
				}
				.error {
					font-size: 12px;
					font-weight: bold;
					color: $blue;
				}
				textarea {
					font-size: 1em;
					padding: 5px;
				}
				.required {
					color: $blue;
					float: right;
					margin-left: 3px;
				}
			}
		}
	}
}

.field_with_errors {
	display:inline;
}

