// Place all the styles related to the Supports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the supports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared";

.required {
	display: inline;
	color: $white;
	font-size: xx-small;
	vertical-align: top;
}

.new_support {
	margin: 0 235px;
	padding: 0;
}

.field_with_errors {
	display:inline;
}

