// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "fonts";
@import "colors";
@import "layout";
@import "mixins";

.featured {
	float: left;
	width: 100%;
	display: block;
	@include borderless;
	.picture {
		float: right;
		width: 550px;
	}
	.services {
		padding: 0 5px 14px 0;
		float: left;
		width: 380px;
		display: table-cell;
		&.last {
			padding-bottom: 0px;
		}
		.arrow {
			float: left;
			height: 26px;
			width: 110px;
			margin: 15px 0 0 0;
			&:hover {
				background-color: $blue;
				.service {
					float: left;
					color: white;
					background-color: $blue;
					width: 91px;
					a {
						padding: 4px 50px 4px 6px;
						font-size: 15px;
						height: 26px;
						line-height: 26px;
						color: white;
						text-decoration: none;
					}		
				}
				.triangle {
					display: block;
					overflow: hidden;
					position: relative;
					&.upper {
						border-top: 13px solid $black;
						border-left: 13px solid $blue;
					}
					&.lower {
						border-bottom: 13px solid $black;
						border-left: 13px solid $blue;
					}
				}
			}
			.service {
				float: left;
				color: black;
				background-color: white;
				width: 91px;
				a {
					width: 91px;
					padding: 4px 50px 4px 6px;
					font-size: 15px;
					height: 26px;
					line-height: 26px;				
					color: $black;
				}
			}
			.triangle {
				display: block;
				overflow: hidden;
				position: relative;
				&.upper {
					border-top: 13px solid transparent;
					border-left: 13px solid white;
				}
				&.lower {
					border-bottom: 13px solid transparent;
					border-left: 13px solid white;
				}
			}
		}
		.more {
			float: right;
			width: 250px;
			p {
				text-align: left;
				@include borderless;
				padding-bottom: 10px;
			}
		}
	}
}

#container3 {
    float: left;
    width: $site;
    background: $black;
    overflow: hidden;
    position: relative;
}
#container2 {
    float: left;
    width: 983px;
    position: relative;
    right: 326px;
		border-right: thin solid $blue;
}
#container1 {
    float: left;
    width: 981px;
		position: relative;
    right: 326px;
		border-right: thin solid $blue;
}

.column {
	margin: 0 15px 0 0;
	&#first {
    left: 651px;
		margin: 0 20px 0 0;
    width: 309px;
	}
	&#second {
    left: 651px;
		margin: 0 20px 0 0;
    width: 309px;
	}
	&#third {
    left: 648px;
		margin: 0;
    width: 309px;
	}
	&#first, &#second, &#third {
    position: relative;
		float: left;
    overflow: hidden;
		.frame {
			margin: 15px 0 20px 20px;
			h1 {
				font-family: $verdana;
				font-weight: bold;
				font-size: 16px;
				color: $blue;
				margin: 0;
			}
			p {
				text-align: justify;
				font-size: 12px;
				line-height: 18px;
			}
			ul {
				margin: 0;
				padding: 0 0 0 10px;
				color: $white;
				text-decoration: none;
				text-align: left;
				li {
					margin: 0;
					padding: 0 0 6px 6px;
					list-style: inside;
					line-height: 18px;
					font-size: 12px;
					text-indent: -1em;
					a {
						padding: 0;
						color: $blue;
						&:hover {
							text-decoration: underline;
							color: $blue;
						}
					}
				}
			}
		}
		.action {
			padding: 0 0 15px 0;
			margin: 0;
			text-align: center;
			.register {
				font-size: 16px;
			}
		}
	}
}