+++++++++++++++++++++++++++++++++++++++++++++++
Reset your BlackDog Property password
+++++++++++++++++++++++++++++++++++++++++++++++
\r\n
\r\n
== Hello #{(@resource.first_name.blank? and @resource.last_name.blank?) ? @resource.email : [@resource.first_name, " ", @resource.last_name].join.strip}!
\r\n
\r\n
Don't worry about forgetting your InfraJobs password, all you have to do is reset it by either clicking the link below or by copying and pasting the URL into your browser:
\r\n
\r\n
= link_to edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
\r\n
\r\n
Your password won't change until you access the link above and create a new one.
\r\n
\r\n
If you've remembered your password now, or didn't ask to reset your password, please disregard this email and carry on using your account.
\r\n
\r\n
Many thanks!
\r\n
\r\n
The InfraJobs Team