%h1 Reset your BlackDog Property password

%p== Hello #{(@resource.first_name.blank? and @resource.last_name.blank?) ? @resource.email : [@resource.first_name, " ", @resource.last_name].join.strip}!

%p Don't worry about forgetting your BlackDog Property password, all you have to do is reset it by clicking the link below or by copying and pasting the URL into your browser:

%p= link_to edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

%p Your password won't change until you access the link above and create a new one.

%p If you've remembered your password now, or didn't ask to reset your password, please disregard this email and carry on using your account.

%p Many thanks!

%p The BlackDog Property Team

