- content_for :title do
	Sales | Black Dog Property

.title
	%h1 BlackDog Sales
	.line
	
.block
	.border
		.image= image_tag "sales/fsc9573a.jpg", :height => "198px", :width => "300px"
		.details
			%p BlackDog is unique in its approach to the sale of properties, as we both buy and sell Renovation Projects for our Clients and we sell finished BlackDog accredited properties to our extensive network of high profile clients looking for luxurious or unique homes.

			%p The re-sale of properties in Europe can be slow, often taking years to find the right buyer.  This is why it is vital that your property is renovated sympathetically with impeccable style and then marketed correctly to engage interest. Due to the emphasis we put on quality, combined with our strict accreditation criteria, our homes are sought after and respected for their exclusivity.

			%p We have a global network of clients and prospects with whom we communicate our property information regularly.  Additionally, we offer our clients a supervised luxury experience when purchasing properties, which enhances the experience and thus we enjoy resounding success in the resale of our properties.

			%p Your home is your most important asset, therefore it needs the proper attention to protect your investment.

